/* Fonts */
@font-face {
	font-family: "Arbutus Slab";
	src: url(fonts/Arbutus_Slab/ArbutusSlab-Regular.ttf);
}

.arbutus-slab-regular {
	font-family: "Arbutus Slab", serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.02em;
	color: #372a28;
}

/* Content formatting and styling */
.page-header {
	font-weight: 520;
	font-size: 20mm;
	margin-top: 100px; /* Remove default h1 margins */
}

.greeting,
.name {
	display: block; /* Makes them stack vertically */
}

#user-name {
	font-weight: normal;
	font-size: 30px;
	margin-top: 50px; /* Space between header and this text */
}

.body-text {
	font-family: "Arbutus Slab", serif;
	font-weight: 250px;
	font-style: normal;
	letter-spacing: -0.02em;
}

p a {
	color: #372a28;
}

/* Navigation w/ animation */
nav a {
	color: #372a28;
	text-decoration: none;
	padding: 2px 12px;
	font-weight: 450;
	font-size: x-large;
}

nav {
	color: #372a28;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 100px;
    position: relative;
}

nav.sticky {
    position: fixed;
    margin-top: 5px;
    height: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffd455d2;
    padding: 20px;
    border: 1px solid #372a28;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    animation: slideIn 0.2s ease;

    font-size: 16px;
    padding-top: 2%;   
}

nav.sticky.removing {
    animation: slideOut 0.2s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-5px);
    }
}

/* Sections and dividers */
section {
	min-width: 10vh;
	min-height: 10vh;
	padding: 80px;
}

/* Following custom curve shapes generated with shapedivider.app */
.custom-shape-divider-bottom-1759671571 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1759671571 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.about-bottom svg {
    width: calc(150% + 1.3px);
    transform: rotateY(180deg);
}

.landing-bottom .shape-fill {
    fill: #FFF4EA;
}

.about-bottom .shape-fill {
    fill: #efcecb;
}


.landing-page {
	/* background-color: #ffc61a; */
	background-color: #ffd455;
	color: #372a28;
	/* color: #885053; */
	display: flex; /* This makes children sit side-by-side */
	justify-content: space-around; /* Pushes items to opposite ends */
	align-items: flex-start; /* Aligns items to the top */
	height: 80vh;
    position: relative;
    overflow: hidden;
	/* clip-path: polygon(
		0 0,
		100% 0,
		100% 85%,
		90% 90%,
		80% 85%,
		70% 90%,
		60% 85%,
		50% 90%,
		40% 85%,
		30% 90%,
		20% 85%,
		10% 90%,
		0 85%
	); */
}

    /* Container for the left side content */
.left-content-landing {
	display: flex;
	flex-direction: column;
}

.about-page {
	background-color: #fff4ea;
	font-family: "Arbutus Slab";
	font-weight: normal;
	font-size: 20px;
	color: #372a28;
	justify-content: space-around; /* Pushes items to opposite ends */
	align-items: flex-start; /* Aligns items to the top */
	height: 80vh;
    padding: 60px 120px 0 120px; /* Changed: bottom padding to 0 */
    position: relative;
    overflow: hidden;
}

.contact-page {
	background-color: #efcecb;
	font-family: "Arbutus Slab";
	font-weight: normal;
	font-size: 20px;
	color: #372a28;
	justify-content: space-around; /* Pushes items to opposite ends */
	align-items: flex-start; /* Aligns items to the top */
	height: 70vh;
	padding-left: 120px;
	padding-right: 120px;
}

